---
import Layout from '../layouts/Layout.astro';
import ContactFormLessonsSection from '../components/ContactFormLessonsSection.astro';
---

<Layout title="Contact | TiBO">
  <main>
    <ContactFormLessonsSection />
  </main>
</Layout>