---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LessonHighlight from '../components/LessonHighlight.astro';
import ExploreFlows from '../components/ExploreFlows.astro';
import FeaturedNotes from '../components/FeaturedNotes.astro';
import AboutMe from '../components/AboutMe.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Ukulele Flow by TiBO">
  <main>
    <Hero />
    <FeaturedNotes />
    <LessonHighlight />
    <ExploreFlows />
    <AboutMe />
    <ContactSection />
  </main>
</Layout>