---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import LessonHighlight from '../components/LessonHighlight.astro';
import FeaturedNotes from '../components/FeaturedNotes.astro';
---

<Layout title="Ukulele Flow by TiBO">
  <main>
    <Hero />
    <LessonHighlight />
    <FeaturedNotes />
  </main>
</Layout>